@CHARSET "UTF-8";


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Nanum Gothic";
}

#A_Container_Wrap {
	width: 100%;
	clear: both;
}

#A_Container {
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
	min-height: 500px;
}

#A_Container_L { /* 占쏙옙占쏙옙 */
	float: left;
	width: 200px;
	padding-right: 30px;
}

#A_Container_C { /* 占쏙옙占쏘데 */
	width: 770px; /*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占싸삼옙占쏙옙占쏙옙*/
	float: left;
	overflow: hidden;
}

.left_menu {
	display: inline-block;
	width: 198px;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
}

.left_menu dl {
	border-top: 1px solid #c6c6c6;
}

.left_menu dl a dt {
	background: #efefef;
	border-top: 1px solid #fff;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	line-height: 40px;
	padding-left: 20px;
}

.left_menu dl a:nth-child(2) dd {
	padding-top: 10px;
}

.left_menu dl a:last-child dd {
	padding-bottom: 10px;
}

.left_menu dl a dd {
	font-size: 12px;
	font-weight: 600;
	color: #888888;
	line-height: 26px;
	padding-left: 20px;
}

.left_menu dl a:hover dd, .left_menu dl a.on dd {
	color: #0eade7;
}

.serviceTable {
	width: 100%;
	border-left: 1px solid #dedede;
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
	text-align: center
}

.serviceTable th, .serviceTable td {
	padding: 10px 0;
	border-bottom: 1px solid #dedede;
	color: #666;
	font-size: 13px;
	line-height: 20px;
}

.serviceTable th {
	font-weight: 500;
	background: #efefef
}

.serviceTable td.title {
	text-align: left;
}

.serviceTable td.title a {
	display: inline-block;
	color: #666;
	font-weight: 600
}

.serviceTable td.rec {
	background: url('../image/common/ico_reple.png') no-repeat left center;
	padding-left: 40px;
}

.request_view {
	width: 100%;
	border: 1px solid #c6c6c6;
	margin: 20px 0 50px 0;
	border-bottom: none;
	border-right: none;
}

.request_view th, .request_view td {
	font-size: 14px;
	color: #666;
	font-weight: normal;
	border-bottom: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
}

.request_view th {
	background: #f6f6f6;
	padding: 10px 0;
}

.request_view td {
	background: #ffffff;
	padding-left: 20px;
}

.request_view th.view_tit {
	text-align: left;
	padding: 16px 26px 16px 26px;
	font-weight: 600;
	position: relative;
}

.request_view td.con {
	padding: 30px;
	line-height: 26px;
}

.request_view .view_tit .cate {
	padding-left: 50px;
}

.request_view .view_tit .hit {
	position: absolute;
	right: 26px;
}

.commentWrap {
	padding: 15px 15px 2px 15px;
	background: #f6f6f6
}

.comment_w {
	margin-bottom: 10px;
}

.comment_w textarea {
	display: inline-block;
	width: 875px;
	min-height: 60px;
	padding: 10px;
	border: 1px solid #e6e6e6;
	color: #666;
	box-sizing: border-box
}

.comment_w a {
	display: inline-block;
	width: 90px;
	height: 60px;
	line-height: 60px;
	vertical-align: top;
	text-align: center;
	background: #0eade7;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.comment_l p {
	margin-bottom: 10px;
}

.comment_l ul {
	padding: 15px 0;
	border-top: 1px solid #e6e6e6
}

.comment_l ul li {
	color: #666;
	font-size: 13px;
	padding: 0 15px;
}

.comment_l .comment_text {
	margin-top: 8px;
	line-height: 20px;
}
.btn_table {
	float: right;
	padding-top: 15px;
}

.btn_input {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 28px;
	padding: 0 15px;
	outline: none;
	cursor: pointer;
	background: #888888;
	border: none;
}