@CHARSET "UTF-8";

/* common */
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family:"Nanum Gothic"; }

#A_Container_Wrap  { width:100%; clear:both; }
#A_Container   { width:1000px; margin:0 auto; margin-top:50px; margin-bottom:20px; clear:both; overflow: hidden; min-height:500px;}

#A_Container_L{ /* 占쏙옙占쏙옙 */
	float:left;	width:200px; padding-right:30px;
}
#A_Container_C{ /* 占쏙옙占쏘데 */
	width:770px; /*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占싸삼옙占쏙옙占쏙옙*/
	float:left;
	overflow:hidden;
}

.left_menu { display:inline-block; width:198px; border-left:1px solid #c6c6c6; border-right:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6;}
.left_menu dl { border-top:1px solid #c6c6c6; }
.left_menu dl a dt { background:#efefef; border-top:1px solid #fff; font-size:14px; font-weight:600; color:#666666; line-height:40px; padding-left:20px;}
.left_menu dl a:nth-child(2) dd  { padding-top:10px; }
.left_menu dl a:last-child dd { padding-bottom:10px; }
.left_menu dl a dd { font-size:12px; font-weight:600; color:#888888; line-height:26px; padding-left:20px; }
.left_menu dl a:hover dd, .left_menu dl a.on dd { color:#0eade7; }

.div, td, ul, li, ol, dl, dt, dd, p, span {
	color:#333;
	font-family:NanumGothic, "나눔고딕", "돋움", Dotum, tahoma, san-serif;
	/*line-height:20px;*/
	font-size:9pt;
	padding:0px;
	margin:0px;
}


.onoff{
	width:100%;
	background:#fff;
}

.jq_onoff li{
	float:none;
}

.jq_toggle, .jq_toggle span, .jq_hide{ font-weight:600; }
.jq_toggle, .jq_hide{ color:#666; }

.jq_toggle span{
	font-size:30px;
	color:#333333;
	margin: 0 15px;
}
.jq_toggle{
	font-size:14px;
	background:#f0f0f0;
	line-height:44px;
	border-bottom:#c2c2c2 1px solid;
	cursor:pointer;
	font-size:16px;
}

.jq_hide{
	border-bottom:#c2c2c2 1px solid;
	padding:20px 50px;
	font-size:14px;
	line-height:20px;
}
.tabs { width:500px; height:46px; margin-bottom: 20px; border:1px solid #c6c6c6; overflow:hidden; box-sizing:border-box; }
.tabs li { width:25%; float:left; text-align:center; line-height:46px; border-right:1px solid #c6c6c6; box-sizing:border-box;}
.tabs li:last-child { border-right:none; }
.tabs li a { display: block; color:#666; font-size:16px; font-weight:600; }
.tabs li a:hover, .tabs li.active, .tabs li.active a:hover { background: #2d9fee; color:#ffffff;}
.tabs li.active a { color:#ffffff; }
.tab_container { clear:both; float:left; width:100%; background: #fff; padding-bottom:50px; }

