/************************************************* 
*
*                    COMMON              
*
***************************************************/
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family:"Nanum Gothic"; }
ul>li>a { text-decoration:none; }
a { color:#666666;}
h1 { color:#444; font-size:26px; font-weight:600; padding-bottom:20px; }
h2 { color:#444; font-size:18px; font-weight:600; margin-top:60px; border-bottom:2px solid #666; line-height:40px; }
h3 { color:#666; font-size:16px; font-weight:600; }
h4 { color:#666; font-size:14px; font-weight:600; }

.bgff4b5c { background:#ff4b5c !important; }
.bg979797 { background:#979797 !important; }
.co6393b4 { color:#6393b4 !important; }

/************************************************* 
*
*                    FONT              
*
***************************************************/
.font_cate 		{ font-size:12px; font-weight:600; color:#6393b4; }
.font_userId 	{ font-size:12px; font-weight:600; color:#666; }
.font_hit 		{ font-size:12px; font-weight:600; color:#666;}
.font_price		{ font-size:18px !important; font-weight:600 !important; color:#ff4b5c !important; }
.font_subject 	{ font-size:14px; font-weight:600; color:#666;  }
.font_contents	{ font-size:13px; font-weight:   ; color:#888;  }
.font_contents2	{ font-size:13px; font-weight:600; color:#666;  }

/************************************************* 
*
*                    LAYOUT              
*
***************************************************/
#A_Wrap       { width:100%; height:100%; }
/* #A_Header     { width:100%; clear:both; } */
#A_Container_Wrap  { width:100%; clear:both; }
#A_Container   { width:1000px; margin:0 auto; margin-top:50px; margin-bottom:20px; clear:both; overflow: hidden; min-height:500px;}
/* #A_Contents_C { float:left; width:1000px; overflow:hidden; } */
.content { display:block; width:1000px; margin:0 auto; }
.view_subTit { position:relative; color:#888; font-size:13px; font-weight:normal; padding:20px 0; border-bottom:2px solid #666666; }
.view_subTit div.hit{ position: absolute; bottom:10px; right:0; font-size: 12px; font-weight: 600; color: #666;}

/* left image */
.view_imgTable { width:100%; margin-top:30px; display:inline-block; }
.view_imgTable dd.image { float:left;  }
.view_imgTable dd.image p { width:450px; height:296px; padding:20px; border:1px solid #c6c6c6;}
.view_imgTable dd.image p img {height: 100%; width: 100%; }
.shareMumber { font-size: 14px; color: #666; float:left; padding-top:10px; }
.shareSns {float:right; margin-top:5px;}

/* right table */
.view_imgTable dd.table { float:right; width:467px; }
.shareTable { width:467px; height:247px; border:1px solid #c6c6c6; }
.shareTable { border-bottom:none; }
.shareTable th { background: #f6f6f6; height:40px; font-size:14px; line-height:40px; color:#666; font-weight:500; border-bottom:1px solid #c6c6c6; border-right:1px solid #c6c6c6; }
.shareTable td { background: #ffffff; height:40px; font-size:14px; line-height:40px; color:#666; padding-left:20px; border-bottom:1px solid #c6c6c6; }

.btn_bottom { margin-top: 20px; text-align: center; }
.btn_bottom span { display: inline-block; width: 130px; padding: 0; border-radius: 3px; color: #fff; font-size: 16px; font-weight:600; line-height: 40px; background: #2fa0ee; }

/* share tab */
.share_tab { width:99.8%; display:inline-block; border-top:1px solid #666666; border-left:1px solid #c6c6c6; border-right:1px solid #c6c6c6; margin-top:30px; }
/* .share_tab li { width:33.2%; float:left; border-right:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; text-align:center; line-height:40px; font-size:16px; font-weight:600; color:#666; background:#f7f7f7; }
.share_tab li:last-child { width:33.4%; border-right:none; } */
.share_tab li { width:49.8%; float:left; border-right:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; text-align:center; line-height:40px; font-size:16px; font-weight:600; color:#666; background:#f7f7f7; }
.share_tab li:last-child { width:49.8%; border-right:none; }
.share_tab li.on { background:#fff; border-bottom:none; }

.share_detail { width:94%; padding:30px 30px 80px 30px; line-height:24px; }
.share_detail img{max-width: 100%;}

.share_review { width:100%; display:inline-block;}
.share_review li { position:relative; width:96%; clear:both; padding:37px 20px 0px 20px; border-bottom:1px solid #c6c6c6; padding-bottom: 20px; display: inline-block; }
.share_review li .image, .share_review li .con { float:left; }
.share_review li .image { padding-right:20px; }
.share_review .con {  }
.share_review li .image img { width:140px; }
.share_review .con h4 { padding-bottom:12px; }
.share_review .con p  { padding-bottom:20px; }
.share_review .con .star { position:absolute; bottom:20px; right:20px; }

.share_before { padding-top:36px;}
.sb_contents { width:93.8%; padding:25px 30px; border:1px solid #c6c6c6; margin-top:10px; line-height:24px; }

.btn_list { margin-top: 30px; text-align: center; }
.btn_list span { display: inline-block; width: 130px; padding: 0; border-radius: 3px; color: #fff; font-size: 16px; font-weight:600; line-height: 40px; background: #444444; }


.list_page { margin: 30px auto 0; text-align: center; zoom: 1; }
.list_page .first_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_l.png) no-repeat left top; }
.list_page .first2_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_l.png) no-repeat -25px top; }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #444;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_r.png) no-repeat left top; }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_r.png) no-repeat -25px top; }