@CHARSET "UTF-8";


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#A_Header     { width:100%; clear:both; }
#search_box>a{
	
	color:white;
	
}

#header_login {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #eeeeee;
	overflow: hidden;
}

#header_login>div {
	width: 1000px;
	height: 34px;
	margin: 0 auto;
}

#login {
	float: right;
	height: 34px;
	line-height: 32px;
}

#login li {
	float: left;
	padding: 0 8px;
}

#login li a {
	font-size: 12px;
	color: #666;
	font-weight: 600;
}

#search_box {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
}

.header_logo {
	padding-top: 17px;
	width: 170px;
	height: 42px;
}

#main_search {
	margin: 26px 306px 0 0;
	width: 388px;
	height: 36px;
	float: right;
	background: #104acf;
	overflow: hidden;
}

#search_bar {
	height: 30px;
	width: 334px;
	float: left;
	border: 0px;
	margin: 3px 0 0 3px;
	outline: none;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	border-radius: 7px;
}

#submit_button {
	margin: 3px 0px 0px 1px;
	padding: 6px;
	border: 0px;
	background-color: #104acf;
	color: white;
	z-index: 99999;
}