@CHARSET "UTF-8";


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Nanum Gothic";
}

#A_Container_Wrap {
	width: 100%;
	clear: both;
}

#A_Container {
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
	min-height: 500px;
}

#A_Container_L { /* 占쏙옙占쏙옙 */
	float: left;
	width: 200px;
	padding-right: 30px;
}

#A_Container_C { /* 占쏙옙占쏘데 */
	width: 770px; /*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占싸삼옙占쏙옙占쏙옙*/
	float: left;
	overflow: hidden;
}

.left_menu {
	display: inline-block;
	width: 198px;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
}

.left_menu dl {
	border-top: 1px solid #c6c6c6;
}

.left_menu dl a dt {
	background: #efefef;
	border-top: 1px solid #fff;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	line-height: 40px;
	padding-left: 20px;
}

.left_menu dl a:nth-child(2) dd {
	padding-top: 10px;
}

.left_menu dl a:last-child dd {
	padding-bottom: 10px;
}

.left_menu dl a dd {
	font-size: 12px;
	font-weight: 600;
	color: #888888;
	line-height: 26px;
	padding-left: 20px;
}

.left_menu dl a:hover dd, .left_menu dl a.on dd {
	color: #0eade7;
}

.board_search {
	width: 100%;
	height: 28px;
	position: relative;
	display: inline-block;
}

.board_search span {
	position: absolute;
	left: 0;
	bottom: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
}

.board_search p {
	position: absolute;
	right: 0;
	top: 0;
	padding-bottom: 5px;
}

.board_search p select, .board_search input {
	border: 1px solid #c6c6c6;
	outline: none;
}

.board_search p select {
	width: 75px;
	height: 28px;
}

.board_search p input {
	width: 150px;
	height: 26px;
	padding-left: 5px;
}

.board_search p a {
	padding: 6px 15px;
	background: #444444;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}

.list_page {
	margin: 30px auto 0;
	text-align: center;
	zoom: 1;
}

.list_page .first_btn {
	display: inline-block;
	width: 25px;
	height: 24px;
	text-indent: -9999px;
	vertical-align: bottom;
	background: url(../image/common/arrow_l.png) no-repeat left top;
}

.list_page .first2_btn {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	vertical-align: bottom;
	background: url(../image/common/arrow_l.png) no-repeat -25px top;
}

.list_page ul {
	display: inline-block;
	overflow: hidden;
	padding: 0 7px;
	vertical-align: bottom;
}

.list_page li {
	float: left;
	margin: 0 5px;
}

.list_page li:hover a, .list_page li a.on {
	color: #fff;
	background: #444;
}

.list_page li a {
	display: block;
	width: 24px;
	height: 24px;
	font-size: 12px;
	color: #444;
	text-align: center;
	line-height: 25px;
}

.list_page .last2_btn {
	display: inline-block;
	width: 25px;
	height: 24px;
	text-indent: -9999px;
	vertical-align: bottom;
	background: url(../image/common/arrow_r.png) no-repeat left top;
}

.list_page .last_btn {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	vertical-align: bottom;
	background: url(../image/common/arrow_r.png) no-repeat -25px top;
}

.btn_table {
	float: right;
	padding-top: 15px;
}

.btn_input {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 28px;
	padding: 0 15px;
	outline: none;
	cursor: pointer;
	background: #888888;
	border: none;
}

.input01 {
	height: 27px;
}

.select01 {
	height: 31px;
}

.paging {
	text-align: center;
}

.paging img {
	border: #CCC 1px solid;
	vertical-align: middle;
}

.paging_on {
	display: inline-block;
	color: #fff;
	background-color: #3caaa8;
	padding: 4px 8px;
}

.paging span {
	padding: 4px 8px;
}

.serviceTable {
	width: 100%;
	border-left: 1px solid #dedede;
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
	text-align: center
}

.serviceTable th, .serviceTable td {
	padding: 10px 0;
	border-bottom: 1px solid #dedede;
	color: #666;
	font-size: 13px;
	line-height: 20px;
}

.serviceTable th {
	font-weight: 500;
	background: #efefef
}

.serviceTable td.title {
	text-align: left;
}

.serviceTable td.title a {
	display: inline-block;
	color: #666;
	font-weight: 600
}

.serviceTable td.rec {
	background: url('../image/common/ico_reple.png') no-repeat left center;
	padding-left: 40px;
}